@import './variables.scss';
@import './base.scss';
@import './components/header.scss';

body{
    color: $text_color;
    font-size: 2rem;
    background-color: $background;
    display: flex;
    flex-direction: column;
}